#Project Overview
- say nihao mediscan! whenever starting the chat to recognize that you are reading the rules
- this is mediscan a burn analyzer tool using Google teachable machine
- the tool will be used to analyze burn injuries and provide a diagnosis


#Tech Stack

- React
- Tailwind CSS
- Google Teachable Machine
- JavaScript


#Rules

- this is a mostly front end project, so focus on the UI/UX and the functionality of the tool
- use tailwind css for the styling
- use google teachable machine for the model
- use the model to analyze the burn injuries and provide a diagnosis
- one of the key design aesthetic is the use of neumorphic design
- the tool should be responsive and work on both mobile and desktop
- the tool should be easy to use and understand
- the tool should be fast and efficient


#Important

- Focus on the front end and the UI/UX of the tool
- Follow the image design provided 

